.diabetes-form .img-div {
    margin-top: 7%;
    margin-left: 6%;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: #022454;
    -webkit-box-shadow: 20px 20px 60px #021f47, -20px -20px 60px #022961;
    box-shadow: 20px 20px 60px #021f47, -20px -20px 60px #022961;
    -webkit-transition: 0.2s ease-in-out;
    position: fixed;
    left: 0;
}

.diabetes-form .img-div img {
    width: 80%;
    margin: 16% 0 0 12%;
}

.diabetes-form input {
    /*border-radius: 50px;*/
    background: linear-gradient(145deg, #072147, #092855);
    box-shadow: 6px 6px 23px #08244d, -6px -6px 23px #082651;
    -webkit-box-shadow: 6px 6px 23px #08244d, -6px -6px 23px #082651;
    color: #fff!important;
}

.diabetes-form input:focus {
    outline: none;
    box-shadow: none;
}

.diabetes-form button {
    background: #0D3B7D;
    color: white;
    font-weight: 600;
    transition: 0.3s ease-out;
}

.diabetes-form button:hover {
    background: #d8d4d4;
    box-shadow: 0px 0px 0px #d4d0d0, 0px 2px 11px #dcd8d8 color: #D31616!important;
    -webkit-box-shadow: 0px 0px 0px #d4d0d0, 0px 2px 11px #dcd8d8
}